<h1> The book you edited is... </h1>
<p>Title: <%=@book.title %> </p>
<p>ISBN: <%=@book.isbn %> </p>
<p>Author: <%=@book.author.name %> </p>
<p>Category: <%=@book.cat.description %> </p>
<p>Number of Copies: <%=@book.copies %> </p>
<p>Rank: <%=@book.rank %> </p>

<p><%=link_to 'Back to the book menu', books_path %> </p>